<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.coolbitx.coolwallet"
    android:versionCode="7"
    android:versionName="1.2.1 ">
    <!--1.1.4-->
    <!-- Socket網路權限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_cw"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <!--InitialSecuritySettingActivity-->
        <!--BleActivity-->
        <activity
            android:name=".ui.BleActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ConfirmOtpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".ui.InitialCreateWalletActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.InitialCreateWalletIIActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.InitialCreateWalletWords"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.RecovWalletActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.InitialCreateHDWallet"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.InitialSecuritySettingActivity"
            android:parentActivityName=".ui.Fragment.FragMainActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.InitialPairSuccessfulActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".ui.Fragment.FragMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"></activity>
        <activity
            android:name=".ui.EraseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>

        <activity
            android:name=".ui.CoolWalletCardActivity"
            android:parentActivityName=".ui.Fragment.FragMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".ui.LogOutActivity"
            android:parentActivityName=".ui.Fragment.FragMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>

        <activity
            android:name=".ui.ShareAddress"
            android:parentActivityName=".ui.Fragment.FragMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".ui.HostDeviceActivity"
            android:parentActivityName=".ui.Fragment.FragMainActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.ExchangeRateActivity"
            android:parentActivityName=".ui.Fragment.FragMainActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ui.TxsActivity"
            android:parentActivityName=".ui.Fragment.FragMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"></activity>

        <service android:name=".Service.socketService"/>

    </application>

</manifest>
