<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.coolbitx.coolwallet">

    <!-- 1.1.4 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- for XCHS Notification -->
    <permission
        android:name="com.coolbitx.coolwallet.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.coolbitx.coolwallet.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_cw"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon"
        >

        <!-- InitialSecuritySettingActivity -->
        <!-- BleActivity -->
        <activity
            android:name=".ui.BleActivity"
            android:label="@string/icon_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ConfirmOtpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.InitialCreateWalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.InitialCreateWalletIIActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.InitialCreateWalletWords"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.RecovWalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.InitialCreateHDWallet"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.InitialSecuritySettingActivity"
            android:parentActivityName=".ui.Fragment.FragMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.InitialPairSuccessfulActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.Fragment.FragMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.EraseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.CoolWalletCardActivity"
            android:parentActivityName=".ui.Fragment.FragMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.LogOutActivity"
            android:parentActivityName=".ui.Fragment.FragMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.ShareAddress"
            android:parentActivityName=".ui.Fragment.FragMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.HostDeviceActivity"
            android:parentActivityName=".ui.Fragment.FragMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SettingActivity"
            android:parentActivityName=".ui.Fragment.FragMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ExchangeRateActivity"
            android:parentActivityName=".ui.Fragment.FragMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ExchangeOpenOrderActivity"
            android:parentActivityName=".ui.Fragment.FragMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ExchangeActivity"
            android:parentActivityName=".ui.Fragment.FragMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ExchangeCompleteOrderActivity"
            android:parentActivityName=".ui.Fragment.FragMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ExchangeLogin"
            android:parentActivityName=".ui.Fragment.FragMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TxsActivity"
            android:parentActivityName=".ui.Fragment.FragMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.TransactionFeeActivity"
            android:parentActivityName=".ui.Fragment.FragMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ServiceProviderActivity"
            android:parentActivityName=".ui.SettingActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="68521535b4c532c476bc000a7304e95422ee5e99" />
        <!-- for google cloud message -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- for firbase cloud message -->
        <service
            android:name=".Service.CwFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- is used to obtain registration tokens using Google's Instance ID API -->
        <service
            android:name=".Service.CwFirebaseInstanceIDService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.microsoft.windowsazure.notifications.NotificationsBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.coolbitx.coolwallet" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".general.NotificationReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.coolbitx.SOCKET_ADDRESS_MSG" />
                <action android:name="com.coolbitx.DISCONN_NOTIFICATION" />
                <action android:name="com.coolbitx.XCHS_NOTIFICATION" />
                <category android:name="com.coolbitx.coolwallet" />
            </intent-filter>
        </receiver>

    </application>

</manifest>